html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: sans-serif;
  margin: 30px;
}

/* index.html */
#no1 {
  position: relative;
  background-color: #ffaaaa;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  transition: width 1s ease 0;
}
#no1:hover {
  width: 400px;
}

#no1-1 {
  position: relative;
  background-color: #ffaaaa;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0;
}
#no1-1:hover {
  width: 400px;
}

#no2 {
  position: relative;
  background-color: #ffaaaa;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 1s ease 0;
}
#no2:hover {
  background-color: #ff1111;
}

#no3 {
  margin-bottom: 20px;
}
#no3 .zako {
  width: 160px;
  height: 160px;
  border: 1px solid #aaaaaa;
  background: url(images/zako-1.jpg) no-repeat 0 0;
  transition: background-image 1s ease 0;
}
#no3 .zako:hover {
  background: url(images/zako-2.jpg) no-repeat 0 0;
}

#no4 {
  position: relative;
  background-color: #ffaaaa;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  left: 0px;
  transition: left 1s ease 0;
}
#no4:hover {
  left: 50px;
}

#no5 {
  position: relative;
  background-color: #ffaaaa;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  transition: padding-left 1s ease 0, width 1s ease 0;
}
#no5:hover {
  width: 170px;
  padding-left: 50px;
}

#no6 {
  position: relative;
  background-color: #ffaaaa;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  transition: text-indent 0.5s ease 0;
}
#no6:hover {
  text-indent: 30px;
}

#no7 {
  position: relative;
  background-color: #ffaaaa;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  transition: letter-spacing 0.5s ease 0;
}
#no7:hover {
  letter-spacing: 5px;
}

#no8 {
  position: relative;
  margin-bottom: 50px;
}
#no8 p[class^=pos] {
  position: absolute;
  font-size: 130%;
  font-weight: bold;
  top: 0px;
  left: 0px;
  transition: 0.5s ease 0;
}
#no8 .pos1.active {
  top: -50px;
}
#no8 .pos2.active {
  left: 50px;
}
#no8 .pos3.active {
  top: 50px;
}
#no8 .pos4.active {
  left: -50px;
}

#no9 {
  font-size: 18px;
  transition: text-shadow 0.5s ease 0;
}
#no9:hover {
  text-shadow: 0 40px red, 100px 0 red, 0 -40px red, -100px 0 red, 100px 40px red, -100px 40px red, 100px -40px red, -100px -40px red;
}

/* index2.html */
#no10 {
  margin-bottom: 40px;
  background-color: #00aaff;
  font-size: 50px;
  width: 300px;
  padding: 50px;
  transition: 1s ease 0;
}
#no10:hover {
  -webkit-transform: scale(3, 3);
}

#no11 {
  background-color: #00aaff;
  font-size: 30px;
  width: 500px;
  padding: 100px;
  transition: 1s ease 0;
}
#no11:hover {
  -webkit-transform: rotate(360deg);
}

/* index.3.html */
#index3 {
  margin: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-image: url(images/desktop/1.jpg);
}
#index3 pre {
  position: absolute;
  left: 50px;
  top: 420px;
  padding: 20px;
  background-color: white;
  border: 1px solid #aaaaaa;
}
#index3 #page1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-image: url(images/desktop/1.jpg);
  transition: 1s ease 0;
  -webkit-transform: scale(3, 3);
  opacity: 0;
}
#index3 #page1.active {
  -webkit-transform: scale(1, 1);
  opacity: 1;
}
#index3 #page2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-image: url(images/desktop/2.jpg);
  transition: 1s ease 0;
  -webkit-transform: scale(3, 3);
  opacity: 0;
}
#index3 #page2.active {
  -webkit-transform: scale(1, 1);
  opacity: 1;
}
#index3 #page3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-image: url(images/desktop/3.jpg);
  transition: 1s ease 0;
  -webkit-transform: scale(3, 3);
  opacity: 0;
}
#index3 #page3.active {
  -webkit-transform: scale(1, 1);
  opacity: 1;
}
#index3 #gnav {
  position: absolute;
  z-index: 10000;
  top: 50px;
  left: 50px;
}
